        <table> 
            <tr> 
                <th>Resultado</th> 
                <th>Situa&ccedil;&atilde;o</th> 
            </tr>  
            <tr> 
                <td>Abaixo de 17</td> 
                <td>Muito abaixo do <em>peso</em></td> 
            </tr> 
            <tr> 
                <td>Entre 17 e 18,49</td> 
                <td>Abaixo do <em>peso</em></td> 
            </tr> 
            <tr> 
                <td>Entre 18,5 e 24,99</td> 
                <td><em>Peso</em> normal</td> 
            </tr> 
            <tr> 
                <td>Entre 25 e 29,99</td> 
                <td>Acima do <em>peso</em></td> 
            </tr> 
            <tr> 
                <td>Entre 30 e 34,99</td> 
                <td><em>Obesidade</em> I</td> 
            </tr> 
            <tr> 
                <td>Entre 35 e 39,99</td> 
                <td><em>Obesidade</em> II (severa)</td> 
            </tr> 
            <tr> 
                <td>A partir de 40</td> 
                <td><em>Obesidade</em> III (m&oacute;rbida)</td> 
            </tr> 
        </table> 

        <a href="principalServlet"><input type="submit" value="Calcular outros valores"></a>
        </div>
        <footer>Disciplina de Programa&ccedil;&atilde;o para Web 1<br>Prof. Leonardo Moreira<br>Prof. Emanuel Coutinho</footer>
    </body>
</html>
